apiVersion: batch/v1
kind: Job
metadata:
  name: alembic-upgrade
  namespace: app
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 300
  template:
    spec:
      restartPolicy: Never
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.36
          command: ['sh','-c','until nc -z postgres 5432; do sleep 1; done']
      containers:
        - name: migrator
          image: app/auth:local                  # образ с установленным alembic
          imagePullPolicy: IfNotPresent
          workingDir: /app                  # где лежит ваш проект
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef: { name: postgres-secret, key: POSTGRES_DB }
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef: { name: postgres-secret, key: POSTGRES_USER }
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef: { name: postgres-secret, key: POSTGRES_PASSWORD }
            - name: POSTGRES_HOST
              value: "postgres"
            - name: POSTGRES_PORT
              value: "5432"
            - name: DATABASE_URL
              value: "postgresql+psycopg2://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_HOST):$(POSTGRES_PORT)/$(POSTGRES_DB)"
          command: ["sh","-c","alembic -c /app/alembic.ini upgrade head"]
