# k8s/postgres-svc.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: app
spec:
  clusterIP: None                 # headless для стабильных DNS имён pod-ов (postgres-0.postgres.app.svc)
  selector:
    app: postgres
  ports:
    - name: pg
      port: 5432
      targetPort: 5432